<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Alex Costan</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
<!--          <li><a href="./components.html" title="">05 : Components</a></li>-->
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Software Engineer</h3>
                  <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    I value simple content structure, clean design patterns, and thoughtful interactions.
                    I am a passionate developer who cares about the quality of my code, user experience, and making a measurable impact on the products that I contribute towards.
                  </p>
                  <h3>Graduate Student</h3>
                  <p>I'm a lifelong learner who can integrate existing libraries and frameworks with modern ones.
                    I'm a goal-oriented, outcomes-driven, and a highly-focused individual who's always moving forward.
                     I treasure personal growth and professional development and am looking to progress with a reputable company.
                  </p>
                  <h3>Coding Teacher Assistant</h3>
                  <p>I genuinely care about people, and love helping fellow developers work on their craft,
                    solve technical challenges, and inspire innovative ways to approach difficult problems.
                    I conduct virtual office hours with students to review class assignments, answer specific questions, and provide
                  guidance on projects.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="black-image-project-hover">
                  <img src="./static/assets/images/profile.jpg" class="img-responsive black-image-project-hover" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>